{% extends "website/website_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Agimpex: Contact {% endblock %}
{% block content %}

 <div class="page_hero">

        <div class="">
            <h1>{% trans "Contact Us" %}</h1>
        </div>

    </div>

<div id="main">

   <div class="contact-detail-container" style="margin-top: 64px;">
        <div class="contact-detail-item">
            <div class="icon-circle">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 1 1 18 0z"></path>
                <circle cx="12" cy="10" r="3"></circle>
            </svg>
            </div>
            <h3>{% trans "Address" %}</h3>
            <p>Yerevan Davit Anhaght 23/10 floor 5</p>
            
        </div>

        <div class="contact-detail-item">
            <div class="icon-circle">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                <line x1="12" y1="18" x2="12.01" y2="18"></line>
            </svg>
            </div>
            <h3>{% trans "Contact" %}</h3>
            <p>+374 33 40 44 40</p>
        </div>

        <div class="contact-detail-item">
            <div class="icon-circle">
            <svg viewBox="0 0 24 24" fill="#006699">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6" stroke="white" fill="none" stroke-width="1.5"></polyline>
            </svg>
            </div>
            <h3>{% trans "Email" %}</h3>
            <p>info@agimpex.am</p>
        </div>

    </div>

    <!--Contact section -->
    <div class="section">

        <div class="section-header">
             <h1>{% trans "Message" %}</h1>
             <!-- <a href="#">View More</a> -->
        </div>
        
        <form class="contact-container">
            <div class="input-row">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email Address">
            </div>

            <input type="text" placeholder="Subject">

            <textarea placeholder="Your Message" ></textarea>

           <label for="pdf-upload" class="upload-container">
                <span class="upload-text">Ներբեռնել ֆայլերը</span>
            </label>

            <input id="pdf-upload" type="file" accept=".pdf" />

            <button >{% trans "Send Message" %}</button>
        </form>
        
    </div>

    <div class="section">
        <div>
            <div id="map">
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.949050209317!2d44.52723591500024!3d40.21019627938956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406aa2cbf97cd585%3A0x7d4bb64064b8a92c!2zMjcg1LHVptWh1b_VuNaC1anVtdWh1bYg1brVuNWy1bjVv9WhLCDUtdaA1ofVodW2LCDVgNWh1bXVodW91b_VodW2!5e0!3m2!1shy!2s!4v1654158544151!5m2!1shy!2s" 
                width="100%" 
                height="450px" 
                style="border:0; margin: auto;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>



</div>

{% endblock %}
