{% extends "website/website_base.html" %}
{% load static %}

{% block title %}Heroes Dream Alive: Contact {% endblock %}
{% block content %}

 <div class="page_hero">

        <div class="">
            <h1>Contact Us</h1>
            <p>
                Heroes Dreams Alive<br/>
                Your Premier Luxury Carpentry and Woodwork Solution
            </p>
            <button>Send a Message</button>
        </div>

    </div>

<div id="main">
    <div class="section">
        <h1>Contact Details</h1>

        <div class="contact-map-container">

            <div class="contact-map-box">
                <div id="map">
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d479.5551869518785!2d8.886596669921785!3d9.871130000947208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105375c9b6329275%3A0x2d2c2e4f23d02d2c!2sNigerian%20Airforce%20Station%20Jos!5e1!3m2!1sen!2sng!4v1691477108261!5m2!1sen!2sng" 
                    width="100%" 
                    height="450px" 
                    style="border:0; margin: auto;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

            <div class="contact-map-details">
                <h2 style="margin-top: 0;">Reach Out</h2>
                <h3>Address</h3>
                <p>1 Biggie Street, Filling Dabo, Dei Dei,<br/> Abuja</p>

                <h3>Phone</h3>
                <p>+234 809 999 9369 <br/>+234 816 206 5896</p>

                <h3>Email</h3>
                <p>info@ssd.com.ng <br/>akintolatech@gmail.com</p>

                <a href="tel:08162065896" ><button style="margin-top: 30px; width: 160px;">Call Now</button></a>
                
            </div>

         
        </div>
        

    </div>

    <div class="section">
        <h1>Message</h1>
        
        <div class="contact-container">
            <div class="contact-items ctext">
                <h2>Let us Talk</h2>
                <p>Got something for us send us a Message
                    to get started
                </p>
            </div>
            <div class="contact-items">
                <form action="#" method="POST">
                    <input type="text" name="#" placeholder="Your name"/>
                    <input type="text" name="#" placeholder="Your phone"/>
                    <textarea>

                    </textarea>
                    <button>Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
