{% extends "website/website_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Agimpex: Discount {% endblock %}
{% block content %}
<div id="main">
    <div class="section">
        <div class="shop-container">

            <div class="aside-container">
                <div class="user-profile">

                    <a href="{% url 'shop:product_list' %}">
                        <div class="user-func {% if not category %}selected{% endif %}" style="background-color: var(--pry-color);">
                            <div class="icon-and-text">
                                <h3>{% trans "Product Categories" %}</h3>
                            </div>
                        </div>
                    </a>

                    {% for c in categories %}
                        <a href="{{ c.get_absolute_url }}">
                            <div class="user-func {% if category.slug == c.slug %}selected{% endif %}">
                                <div class="icon-and-text">
                                    <h4>{{ c.name }}</h4>
                                </div>
                                <h4>+</h4>
                            </div>
                        </a>
                    {% endfor %}

                </div>
            </div>

            <div class="container-of-containers">
                <div class="product-container">

                    {% for product in discounted_products %}
                        <div class="product-item" style="width: 252px;">
                            <div class="product-card">
                                {% if product.discount_amount%}
                                <div class="badge-discount">-{{ product.discount_percent }}%</div>
                                {% endif %}
                                <button class="wishlist-btn">❤</button>

                                <div class="product-image">
                                    <img
                                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                                        alt="{{ product.name }}"
                                    />
                                </div>
                            </div>

                            <div class="product-info">
                                <h3 class="product-title">
                                    {{ product.name|truncatewords:3|linebreaks }}
                                </h3>

                                <div class="price-row">
                                    <div class="price-container">
                                        <span class="old-price">{{ product.old_price }}</span>
                                        <span class="current-price">
                                            <b class="formatted-price">{{ product.price }}</b>
                                        </span>
                                        <span class="currency">դրամ/հատ</span>
                                    </div>

                                    <a href="{{ product.get_absolute_url }}">
                                        <button class="cart-btn">
                                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h1>There are no products here</h1>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}