{% extends "website/website_base.html" %}
{% load static %}

{% block title %}Agimpex: Home{% endblock %}

{% block content %}



<div class="hero-section">

    <div class="hero-text">
        <div class="hero-text-box">
            <h2>Construction Materials</h2>
            <h3>Everything on One place</h3>
        </div>
      
    </div>

</div>

<!-- main section -->
<div id="main">

    <div class="stats_box">

        <div class="stat-item">
            <div class="icon-box">
                <img src="{% static 'img/trust.svg' %}" />
            </div>
            <p>Reliable Partner</p>
        </div>

        <div class="stat-item">
            <div class="icon-box">
                <img src="{% static 'img/community.svg' %}" />
            </div>
            <p>Specialized Team</p>
        </div>

        <div class="stat-item">
            <div class="icon-box">
                <img src="{% static 'img/material.svg' %}" />
            </div>
            <p>Quality Product Range</p>
        </div>

        <div class="stat-item">
            <div class="icon-box">
                <img src="{% static 'img/fastdelivery.svg' %}" />
            </div>
            <p>Fast and Reliable Delivery</p>
        </div>

         <div class="stat-item">
            <div class="icon-box">
                <img src="{% static 'img/discount.svg' %}" />
            </div>
            <p>Competitive Prices</p>
        </div>

       

    </div>



    <div class="section">
        
        <div class="cat_container">

            <div class="cat_item">
                <img src="{% static 'img/high-quality-industrial-photo-of-modern-constructi 1.png' %}" />
                
                <div class="cat_item_textbox">
                    <h3>Construction Materials</h3>
                </div>

            </div>

             <div class="cat_item">
                <img src="{% static 'img/stone.png' %}" />
                
                <div class="cat_item_textbox">
                    <h3>Natural Stones</h3>
                </div>

            </div>

             <div class="cat_item">
                <img src="{% static 'img/polymer.png' %}" />
                
                <div class="cat_item_textbox">
                    <h3>Polymer Materials</h3>
                </div>

            </div>

            <div class="cat_item">
                <img src="{% static 'img/asphalt-production-and-road-construction-process-- 1.png' %}" />
                
                <div class="cat_item_textbox">
                    <h3>Bituminous Materials</h3>
                </div>

            </div>

        </div>

    </div>



    <div class="section">

        <div class="section-header">
            <h1>Top Categories</h1>
        </div>


        <div class="product-container">

            <div class="product-item">
                <div class="product-card">
                <div class="badge-discount">-15%</div>
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/rod.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>


            <div class="product-item">
                <div class="product-card">
                <div class="badge-discount">-15%</div>
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/squarerod.png' %}"  alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-item">
                <div class="product-card">
                <div class="badge-discount">-15%</div>
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/screw rod.png' %}"  alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-item">
                <div class="product-card">
                <div class="badge-discount">-15%</div>
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/tri rod.png' %}"  alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-item">
                <div class="product-card">
                <div class="badge-discount">-15%</div>
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/wire.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>



        </div>
       
        
       

    </div>



    <div class="narrative">

        <div class="text-box">
            <h1>About us</h1>
            <p>
                "AG IMPEX" LLC was founded in 2018 with one clear goal: to become a reliable and long-term partner in the construction sector in Armenia.
                For more than 7 years, we have been providing the Armenian market with high-quality, certified construction goods at competitive prices through both import and wholesale/retail sales, satisfying the requirements of both large construction companies and individual customers.
                Starting from 2026, "AG IMPEX" LLC is also entering the market with two new brands: Metals Holding and Prime Stone.
            </p>
            <button style="width: 160px;height: 48px;">Read more</button>
        </div>

        <div class="img-box">
            <img src="{% static 'img/AG IMPEX WEB-05 1.png' %}" />
        </div>

    </div>
    


  <div class="section">

        <div class="section-header">
             <h1>Construction Goods</h1>
             <!-- <a href="{% url 'website:gallery' %}">View More</a> -->
        </div>


        <div class="product-container">

            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction4.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>


            <div class="product-item">
                <div class="product-card">
                
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction2.png' %}"  alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-item">
                <div class="product-card">
           
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction1.png' %}"  alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction5.png' %}"  alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-item">
                <div class="product-card">
             
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction3.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                    <h3 class="product-title">Մետաղական ամրան</h3>
                    <div class="price-row">
                        <div class="price-container">
                        <span class="old-price">2,000</span>
                        <span class="current-price">1,000</span>
                        <span class="currency">դրամ/հատ</span>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>



        </div>
       
        
       

    </div>




     <div class="section">

        <div class="section-header">
             <h1>Natural Stones</h1>
             <!-- <a href="{% url 'website:gallery' %}">View More</a> -->
        </div>


        <div class="product-container">

            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction4.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                 
                    <div class="price-row">
                        <div class="price-container">
                            <h3 class="product-title">Մետաղական ամրան</h3>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>


            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction4.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                 
                    <div class="price-row">
                        <div class="price-container">
                            <h3 class="product-title">Մետաղական ամրան</h3>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>



            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction4.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                 
                    <div class="price-row">
                        <div class="price-container">
                            <h3 class="product-title">Մետաղական ամրան</h3>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>



            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction4.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                 
                    <div class="price-row">
                        <div class="price-container">
                            <h3 class="product-title">Մետաղական ամրան</h3>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>



            <div class="product-item">
                <div class="product-card">
              
                    <button class="wishlist-btn">❤</button>
                    <div class="product-image">
                        <img src="{% static 'img/construction4.png' %}" alt="Metal Pipes">
                    </div>
                </div>

                <div class="product-info">
                 
                    <div class="price-row">
                        <div class="price-container">
                            <h3 class="product-title">Մետաղական ամրան</h3>
                        </div>
                        <button class="cart-btn">
                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                        </button>
                    </div>
                </div>

            </div>



        </div>
       
        
       

    </div>




    <div class="banner-container">
        <div class="blue-bar">
            <h1 class="banner-text">Բեռնափոխադրում</h1>
            
            <div class="flag-container">
                <div class="flag russia"></div>
                <div class="flag georgia"></div>
                <div class="flag iran"></div>
                <div class="flag india"></div>
                <div class="flag china"></div>
            </div>
        </div>
        
        <div class="truck-wrapper">
            <img src="{% static 'img/truck.png' %}" alt="AG IMPEX Truck" class="truck-img">
        </div>
    </div>


     <div class="banner-container">
         <div class="truck-wrapper">
            <img src="{% static 'img/workers.png' %}" alt="AG IMPEX Truck" class="truck-img">
        </div>
        <div class="blue-bar">
            <h1 class="banner-text">Բեռնափոխադրում</h1>
            
            <div class="flag-container">
                <div class="flag russia"></div>
                <div class="flag georgia"></div>
                <div class="flag iran"></div>
                <div class="flag india"></div>
                <div class="flag china"></div>
            </div>
        </div>
        
       
    </div>


    <div class="banner-container">
        <div class="blue-bar">
            <h1 class="banner-text">Բեռնափոխադրում</h1>
            
            <div class="flag-container">
                <div class="flag russia"></div>
                <div class="flag georgia"></div>
                <div class="flag iran"></div>
                <div class="flag india"></div>
                <div class="flag china"></div>
            </div>
        </div>
        
        <div class="truck-wrapper">
            <img src="{% static 'img/bitumentruck.png' %}" alt="AG IMPEX Truck" class="truck-img">
        </div>
    </div>





    <div class="section">

        <div class="section-header">
             <h1>Our Partners</h1>
        </div>


         <marquee behavior="scroll">
            <img src="{% static 'img/partner1.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner2.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner3.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner4.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner5.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner6.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner7.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner8.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner9.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner10.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner11.png' %}" alt="Partner 1">
            <img src="{% static 'img/partner12.png' %}" alt="Partner 1">
        </marquee>



    </div>





   



        


    


    <!--Contact section -->
    <div class="section">
        <h1>Contact Us</h1>
        

        <form class="contact-container">
            <div class="input-row">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email Address">
            </div>

            <input type="text" placeholder="Subject">

            <textarea placeholder="Your Message"></textarea>

            <!-- <label for="file-input" class="file-upload-wrapper">
                Upload Files
                <input type="file" id="file-input" multiple>
            </label> -->

            <button>Send Message</button>
        </form>

    </div>


     <!-- <img src="{% static 'img/Catalog AG IMPEX-13 1.png' %}" /> -->

 

</div>

<style>
        .contact-container {
            /* max-width: 800px; */
            margin: 20px auto;
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-family: sans-serif;
        }

        .input-row {
            display: flex;
            gap: 15px;
        }

        .input-row input {
            flex: 1;
        }

        input, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 14px;
            outline: none;
        }

        textarea {
            height: 180px;
            resize: vertical;
        }
/* 
        .file-upload-wrapper {
            border: 1px solid #ccc;
            padding: 15px;
            text-align: center;
            cursor: pointer;
            color: #333;
            background-color: #fff;
            transition: background 0.2s;
        }

        .file-upload-wrapper:hover {
            background-color: #f9f9f9;
        }

        #file-input {
            display: none;
        } */
    </style>





{% endblock %}
