{% extends "website/website_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Agimpex: {% trans "Natural Stones" %} {% endblock %}


{% block style %}<link type="text/css" href="{% static 'styles/menu.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}
<div id="main">
    <div class="section">
        <div class="shop-container">

            <div class="aside-container">

                <div class="menu-container">
                    <details class="menu-item highlight">
                        <summary style="color: white;">Բյուրեղյա մարմար</summary>
                        <div class="content">Content for Crystal Marble goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Մարմար</summary>
                        <div class="content">Content for Marble goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Օնիքս</summary>
                        <div class="content">Content for Onyx goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Գրանիտ</summary>
                        <div class="content">Content for Granite goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Տրավերտին</summary>
                        <div class="content">Content for Travertine goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Կրաքար</summary>
                        <div class="content">Content for Limestone goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Խորանարդ քար</summary>
                        <div class="content">Content for Cobblestone goes here.</div>
                    </details>

                    <details class="menu-item">
                        <summary>Կիրառություն</summary>
                        <div class="content">Content for Application goes here.</div>
                    </details>
                </div>


            </div>



            <div class="container-of-containers">
                <div class="product-container">

                    {% for product in all_natural_stones %}
                        <div class="product-item">
                            <div class="product-card">
                                {% if product.discount_amount%}
                                <div class="badge-discount">-{{ product.discount_percent }}%</div>
                                {% endif %}
                                <button class="wishlist-btn">❤</button>

                                <div class="product-image">
                                    <img
                                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                                        alt="{{ product.name }}"
                                    />
                                </div>
                            </div>

                            <div class="product-info">
                                <h3 class="product-title">
                                    {{ product.name|truncatewords:3|linebreaks }}
                                </h3>

                                <div class="price-row">
                                    <div class="price-container">
                                        <span class="old-price">{{ product.old_price }}</span>
                                        <span class="current-price">
                                            <b class="formatted-price">{{ product.price }}</b>
                                        </span>
                                        <!-- <span class="currency">դրամ/հատ</span> -->
                                    </div>

                                    <a href="{{ product.get_absolute_url }}">
                                        <button class="cart-btn">
                                            <img src="{% static 'img/blue_cart.svg' %}" class="icon" />
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h1>{% trans "There are no products here" %}</h1>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}