{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="x-icon" href="{% static 'img/ag.png' %}" rel="icon" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/fav.js' %}"></script>
    <link type="text/css" href="{% static 'styles/shop.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/form.css' %}" rel="stylesheet" />
    {% block style %} {% endblock %}
    <script>
        window.addEventListener("load", function () {
            const loader = document.getElementById("page-loader");
            loader.classList.add("hide");

            setTimeout(() => {
                loader.remove();
            }, 500);
        });
    </script>
    {% block extra_scripts %} {% endblock %}
</head>
<body>


    <div id="page-loader">
        <div class="loader-content">
            <div class="spinner"></div>
            <p>{% trans "Loading..." %}</p>
        </div>
    </div>


    <div id="header">

        <div class="header_contact_bar">

            <div class="contact-wrap">
               <p style="opacity: 0;">{% blocktrans %}  "Working hours – 09:00 to 18:00, Mon–Sat" {% endblocktrans %}</p>
                
                <div class="contact-wrap-item">

                   <div class="language-dropdown">
                        <div class="btn-toggle">

                            <button class="language-btn">
                                {% get_current_language as LANGUAGE_CODE %}

                                {% if LANGUAGE_CODE == 'hy' %}
                                    <img src="{% static 'img/hy.png' %}" class="language-flag" alt="Armenian">
                                {% elif LANGUAGE_CODE == 'ru' %}
                                    <img src="{% static 'img/ru.png' %}" class="language-flag" alt="Russian">
                                {% else %}
                                    <img src="{% static 'img/en.png' %}" class="language-flag" alt="English">
                                {% endif %}
                                
                            </button>
                            <div class="icon-container">
                                <img src="{% static 'img/arrow_down.svg' %}" />
                            </div>
                            
                        </div>

                        <div class="language-menu">
                            <a href="/hy/" class="language-option">
                                <img src="{% static 'img/hy.png' %}" alt="Armenian">
                                <!-- <span>Arm</span> -->
                            </a>

                            <a href="/ru/" class="language-option">
                                <img src="{% static 'img/ru.png' %}" alt="Russian">
                                <!-- <span>Ru</span> -->
                            </a>

                            <a href="/en/" class="language-option">
                                <img src="{% static 'img/en.png' %}" alt="English">
                                <!-- <span>En</span> -->
                            </a>
                        </div>
                    </div>

                    <div class="call-header-card">
                        <img src="{% static 'img/Phone.svg' %}" alt="English">
                        <p style="color: white;">+37433404440</p>
                    </div>
                     
                </div>
                
            </div>
            
        </div>

        <div class="header_main_bar">

            <div class="wrap">

                <div class="siteid-container">
                     
                    <a href="{% url 'website:index' %}"><img src="{% static 'img/agimpexhlogo.png' %}" class="logo" /></a>
    
                    <script src="{% static 'js/toggle.js' %}"></script>
            
                    <div class="nav">
        
                        <svg version="1.1"  x="0px" y="0px"
                            viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            
                            <g>
                            <rect x="4.6" y="10.5" class="st0 bar1" width="30.8" height="4"/>
                            <rect x="4.6" y="18" class="st0 bar2" width="30.8" height="4"/>
                            <rect x="4.6" y="25.5" class="st0 bar3" width="30.8" height="4"/>
                            </g>

                        </svg>

                    </div>  

                </div>
                
                <div class="searchbox">
              
                   <form class="input-container" method="get" action="{% url 'website:search' %}" id="searchForm">
                        <input type="search" name="q" placeholder="{% trans 'Search' %}" value="{{ request.GET.q }}">

                        <span class="search-icon" onclick="document.getElementById('searchForm').submit();" style="cursor: pointer;">
                            <img src="{% static 'img/search.svg' %}" class="icon" />
                        </span>
                    </form>

                    <details class="pdf-dropdown-details">
                    <summary>
                        {% trans "Catalogs" %}
                        <span>
                             <div class="icon-container">
                                <!-- <img src="{% static 'img/arrow_down.svg' %}" class="arrow_down" /> -->
                            </div>
                        </span>
                    </summary>

                    <div class="pdf-menu">
                        <a href="{% static 'files/catalog_for_CP.pdf' %}" download>{% trans "Construction Goods" %} PDF</a>
                        <a href="/media/pdfs/natural-stones.pdf" download>{% trans "Natural Stones" %} PDF</a>            
                    </div>
                    </details>
                </div>

                <div class="app_functions">

                    <!-- USER -->
                    <a href="{% url 'login' %}">
                        <div class="icontext">
                            <div class="icon-wrapper">
                                <img src="{% static 'img/account.svg' %}" class="icon" />

                                {% if request.user.is_authenticated %}
                                    <span class="status-dot online"></span>
                                {% else %}
                                    <span class="status-dot offline"></span>
                                {% endif %}
                            </div>
                            <h6>{% trans 'Login/Sign in' %}</h6>
                        </div>
                    </a>

                    <!-- FAVOURITES -->
                    <a href="{% url 'shop:favorite_list' %}">
                        <div class="icontext">
                            <div class="icon-wrapper">
                                <img src="{% static 'img/fave_icn.svg' %}" class="icon" />

                                <span
                                    id="favorite-count"
                                    class="badge-count"
                                    {% if not request.session.favorites %}style="display: none;"{% endif %}
                                >
                                    {{ request.session.favorites|length }}
                                </span>
                            </div>
                            <h6>{% trans 'Favourites' %}</h6>
                        </div>
                    </a>

                    <a href="{% url 'cart:cart_detail' %}">
                        <div class="icontext">
                            <div class="icon-wrapper">
                                <img src="{% static 'img/cart.svg' %}" class="icon" />

                                {% if cart|length > 0 %}
                                    <span class="badge-count">{{ cart|length }}</span>
                                {% endif %}
                            </div>
                            <h6>{% trans 'Cart' %}</h6>
                        </div>
                    </a>

                </div>
            </div>
        </div>

       <div class="header_bottom_bar">
            <div class="wrap">
                <a href="{% url 'website:discount' %}" class="nav-item">
                    {% trans "SPECIAL OFFER" %} <b style="color: red;">({% trans "UP TO 25%" %})</b>
                </a>

                <!-- {% for cat in categories %}
                {% if cat.slug == "construction-materials" %}
                    <a href="{% url 'shop:product_list_by_category' cat.slug %}" class="nav-item" >
                        {{ cat.name }}
                    </a>
                    {% endif %}
                {% endfor %} -->
                <a href="{% url 'website:construction_goods' %}" class="nav-item">{% trans "Construction Goods" %}</a>
                <a href="{% url 'website:natural_stones' %}" class="nav-item">{% trans "Natural Stones" %}</a>
                <a href="{% url 'website:services' %}" class="nav-item">{% trans "Services" %}</a>
                <a href="{% url 'website:contact' %}" class="nav-item">{% trans "Contact" %}</a>
            </div>
        </div>

        <script>
            // Get current path
            const currentPath = window.location.pathname;

            // Select all nav links
            const navLinks = document.querySelectorAll('.wrap .nav-item');

            navLinks.forEach(link => {
                // Compare link href with current path
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('active-link');
                }
            });
        </script>

    </div>


   

    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>


  
    <div class="footer">

        <div class="footer-wrap">

            <div class="footer-text-container">

                <ul>
                    <li class="footer-heading">{% trans "Quick Links" %}</li>
                    <a href="{% url 'website:discount' %}"><li>{% trans "SPECIAL OFFER" %} <b style="color: red;">({% trans "UP TO 25%" %})</b></li></a>
                    <a href="{% url 'website:construction_goods' %}"><li>{% trans "Construction Goods" %}</li></a>
                    <a href="{% url 'website:natural_stones' %}"><li>{% trans "Natural Stones" %}</li></a>
                    <a href="{% url 'website:services' %}"><li>{% trans "Services" %}</li></a>
                    <a href="{% url 'website:contact' %}"><li>{% trans "Contact" %}</li></a>
                </ul>

                <ul>
                    <div class="footer-social-container">

                    
                        <img src="{% static 'img/agimpexfooterlogo.png' %}"  alt="" width="260px"/>
                    
                        <li>
                    
                            <div class="social-media">

                                <a href="https://www.facebook.com/agimpexarm" target="_blank">
                                    <div class="contact-icon">
                                        <img src="{% static 'img/fb.svg' %}"/>
                                    </div>
                                </a>

                                <a href="https://www.instagram.com/agimpex.am?" target="_blank">
                                    <div class="contact-icon">
                                        <img src="{% static 'img/insta.svg' %}"/>
                                    </div>
                                </a>

                                <a href="https://www.linkedin.com/company/ag-impex-llc/" target="_blank">
                                    <div class="contact-icon">
                                        <img src="{% static 'img/link.svg' %}"/>
                                    </div>
                                </a>

                                <a href="" target="">
                                    <div class="contact-icon">
                                        <img src="{% static 'img/tiktok.svg' %}"/>
                                    </div>
                                </a>

                                <a href="" target="">
                                    <div class="contact-icon">
                                        <img src="{% static 'img/youtube.svg' %}"/> 
                                    </div>
                                </a>
                            </div>

                        </li>

                        
                    </div>
                   
                </ul>
                
                
                <ul>
                    <li class="footer-heading">{% trans "Contact us" %}</li>
                    <a href="#"><li><span style="margin-right: 12px;"><img src="{% static 'img/loc.svg' %}" alt="" class="footer_icn"></span>{% trans "Address" %}: Yerevan,<br/>Davit Anhaght 23/10 floor 5</li></a>
                    <a href="#"><li><span style="margin-right: 12px;"><img src="{% static 'img/call.svg' %}" alt="" class="footer_icn"></span>{% trans "Phone" %}: +374 33 40 44 40</li></a>
                    <a href="#"><li><span style="margin-right: 12px;"><img src="{% static 'img/message.svg' %}" alt="" class="footer_icn"></span>{% trans "Email" %}: info@agimpex.am</li></a>

                </ul>   

            </div>
                     
        </div>

    </div>

<script>
    function updateHeaderHeight() {
        const header = document.getElementById('header');
        if (header) {
            document.documentElement.style.setProperty(
                '--header-height',
                header.offsetHeight + 'px'
            );
        }
    }

    window.addEventListener('load', updateHeaderHeight);
    window.addEventListener('resize', updateHeaderHeight);
</script>

    
</body>
</html>