{% extends "website/website_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Your shopping cart" %}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/cart.css' %}">
{% endblock %}


{% block content %}
<div class="page_hero">

    <div class="">
        <h1>{% trans "Cart" %}</h1>
        <h2>
          {% trans "Your shopping cart" %}
          <a href="{% url 'cart:cart_detail' %}" style="color: white;">
            {{ total_items }} {% trans "item" %}{{ total_items|pluralize }},
            <b class="formatted-price">{{ cart.get_total_price }}</b>
          </a>  
        </h2>
    </div>

</div>

<div id="main">

  <section class="cart-section">
    {% with total_items=cart|length %}

      {% if total_items > 0 %}
        <div class="cart-wrapper">

          <!-- LEFT: Cart Items -->
          <div class="cart-items-panel">
            {% for item in cart %}
              {% with product=item.product %}
              <div class="cart-item">

                <div class="cart-item-left">
                  <div class="cart-item-image">
                    <a href="{{ product.get_absolute_url }}">
                      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                    </a>
                  </div>
                  <div class="cart-item-info">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <h4>{{ item.total_price }}</h4>
                  </div>
                </div>

                <div class="cart-item-right">

                  <!-- Remove item -->
                  <form action="{% url 'cart:cart_remove' item.cart_key %}" method="post" class="cart-delete-form">
                    {% csrf_token %}
                    <button type="submit" class="cart-btn">
                      <img src="{% static 'img/delete.svg' %}" class="icon" alt="Remove">
                    </button>
                  </form>

                  <!-- Quantity selector -->
                  <div class="quantity-control">
                    <form action="{% url 'cart:cart_decrement' item.cart_key  %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <input type="hidden" name="quantity" value="{{ item.quantity|add:-1 }}">
                      <input type="hidden" name="override" value="True">
                      <button type="submit" {% if item.quantity <= 1 %}disabled{% endif %}>−</button>
                    </form>

                    <span>{{ item.quantity }}</span>

                    <form action="{% url 'cart:cart_increment' item.cart_key %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <input type="hidden" name="quantity" value="{{ item.quantity|add:1 }}">
                      <input type="hidden" name="override" value="True">
                      <button type="submit">+</button>
                    </form>
                  </div>

                </div>

              </div>
              {% endwith %}
            {% endfor %}
          </div>

          <!-- RIGHT: Order Summary -->
          <aside class="order-summary">
            <h2>{% trans "Order Summary" %}</h2>

            {% for item in cart %}
              <div class="summary-row">
                <span>{{ item.quantity }}x {{ item.product.name }} @</span>
                <strong>{{ item.total_price }}</strong>
              </div>
            {% endfor %}

            <div class="summary-total">
              <span>{% trans "Total"  %}:</span>
              <strong>{{ cart.get_total_price }}</strong>
            </div>

            <form method="post" action="{% url 'orders:order_create' %}">
              {{ form.as_p }}
              <button class="checkout-btn">{% trans "Place order" %}</button>
              {% csrf_token %}
            </form>
            <a href="{% url 'shop:product_list' %}" >
             <button class="checkout-btn sec" style="margin-top: 18px;">{% trans "Continue shopping" %}</button>
            </a>
          </aside>

        </div>
      {% else %}
        <div class="message-container">
          <center>
            <div class="message-container-image-box">
              <img src="{% static 'img/none.png' %}" width="240px"/>
            </div>
            <h3>{% trans "Your cart is empty." %}</h3>
            <a href="{% url 'shop:product_list' %}">
              <button style="width:240px; height:44px; margin-bottom:12px;">{% trans "Continue shopping" %}</button>
            </a>
          </center>
        </div>
      {% endif %}
    {% endwith %}

  </section>

</div>
{% endblock %}