{% extends "website/website_base.html" %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block style %} 
  <link type="text/css" href="{% static 'styles/auth.css' %}" rel="stylesheet" />
{% endblock %}



{% block content %}

<div id="main">
   <div class="auth-form">
      <h1>Log-in</h1>

      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
      </form>
      <p>
        <a href="{% url 'password_reset' %}">Forgot password?</a> | <a href="{% url 'register' %}">Register here</a>.

      </p>
    </div>
</div>
  
 
{% endblock %}
