{% extends "administration/admin_base.html" %}
{% load i18n %}
{% load static %}
{% block title %} Admin: Order{% endblock %}
{% block styles %}
<link type="text/css" href="{% static 'styles/table.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="table_container"></div>
        <div class="table-wrapper">
            <div class="title_container">
                <h2 class="table-title">{% trans "Orders" %}</h2>
                <!-- <a href="{% url 'administration:create_category' %}">Create Order?</a> -->
            </div>
            
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>{% trans "Email" %}</th>
                        <th>{% trans "Desc" %}</th>
                        <th>{% trans "Created" %}</th>
                        <th>{% trans "Price" %}</th>
                        <th>{% trans "Paid" %}</th>
                        <th colspan="2">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_item %}
                    <tr>
                        <td data-label="{% trans 'Email' %}">{{ order.order.email }}</td>
                        <td data-label="{% trans 'Desc' %}">{{ order.product.name }}</td>
                        <td data-label="{% trans 'Created' %}">{{ order.order.created }}</td>
                        <td data-label="{% trans 'Price' %}">{{ order.price}}</td>
                        <td data-label="{% trans 'Paid' %}">{{ order.order.paid}}</td>
                        
                        <td data-label="{% trans 'Action' %}">

                            <a href="#">
                                <img src="{% static 'img/gavel.svg' %}" />
                            </a>
                             <!-- onclick="return confirm('Are you sure you want to delete this category?')"  -->
                          <form action="#" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" 
                                   
                                    style="background: none; border: none; padding: 0; cursor: pointer;"
                                    title="{% trans 'Delete Order' %}">
                                <img src="{% static 'img/mail.svg' %}" alt="{% trans 'Delete' %}"/>
                            </button>
                        </form>

                        </td>

                    </tr>
                    {% empty %}
                    <tr >
                        <td colspan="6"><span class="status status-inactive">{% trans "There are no orders here" %}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}