{% extends "website/website_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  Thank you
{% endblock %}

{% block content %}
  <h1>Thank you</h1>
  
  <div class="message-container">
    <center>
      <div class="message-container-image-box">
        <img src="{% static 'img/check.svg' %}" width="240px"/>
      </div>
      <p>{% blocktrans %} Your order has been successfully completed. Your Tracking code has been sent to {% endblocktrans %} <br/>
         <strong>{{ order.email }}</strong>.
      </p>
      <a href="{% url 'shop:product_list' %}" >
        <button class="checkout-btn">{% trans "Continue shopping" %}</button>
      </a>
    </center>
  </div>
{% endblock %}
