{% extends "administration/admin_base.html" %}
{% load static %}
{% block title %} Admin: Category {% endblock %}
{% block styles %}
<link type="text/css" href="{% static 'styles/table.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

   <div class="table_container"></div>
        <div class="table-wrapper">
            <div class="title_container">
                <h2 class="table-title"> Categories</h2>
                <a href="{% url 'administration:create_category' %}">Create Category</a>
            </div>
            
            <table class="modern-table">
                <thead>
                    <tr>
                        <!-- <th>Photo</th> -->
                        <th>Name</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <!-- <td data-label="Photo">
                            <img src="{% if category.icon %} {{ category.icon.url }} {% else %} {% static 'img/categories.svg' %}  {% endif %}" />
                        </td> -->
                        <td data-label="Name">{{ category.name }}</td>
                        
                        <td data-label="Action">

                            <a href="{% url 'administration:edit_category' category.id %}">
                                <img src="{% static 'img/edit.svg' %}" />
                            </a>

                          <form action="{% url 'administration:delete_category' category.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" 
                                    onclick="return confirm('Are you sure you want to delete this category?')" 
                                    style="background: none; border: none; padding: 0; cursor: pointer;"
                                    title="Delete Category">
                                <img src="{% static 'img/delete.svg' %}" alt="Delete"/>
                            </button>
                        </form>

                        </td>

                    </tr>
                    {% empty %}
                    <tr >
                        <td colspan="2"><span class="status status-inactive">There are no categories here</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}