{% extends "administration/admin_base.html" %}
{% load static %}
{% block title %} Admin: Category {% endblock %}
{% block styles %}
<link type="text/css" href="{% static 'styles/form.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="form_container">

        <h2>Add a New Category</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-primary">Save Category</button>
            <a href="{% url 'administration:category_list' %}">Cancel</a>
        </form>
        
    </div>
    

{% endblock %}