{% extends "administration/admin_base.html" %}
{% load static %}
{% block title %} Admin: Category {% endblock %}
{% block styles %}
<link type="text/css" href="{% static 'styles/admin_form.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="form-page">
        <div class="form-wrapper">
            <h3>Edit Category: {{ category.name }}</h3>

            <form method="post" enctype="multipart/form-data" class="product-form">
                {% csrf_token %}
                <div class="form-group">
                {{ form.as_p }}
                </div>
                
                <button type="submit" class="btn btn-primary">Update Category</button><br/>
                <a href="{% url 'administration:category_list' %}">Cancel</a>
            </form>
        </div>
    </div>
    

{% endblock %}