{% extends "account/dashboard_base.html" %}
{% load static %}

{% block title %}{{ business.name_of_business }} {{ request.user.first_name|default:request.user.username }}'s-Dashboard{% endblock %}


{% block landing %}
    <div class="landing" id="contact-landing">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text">
            <h1>Welcome {{ request.user.first_name|default:request.user.username }}</h1>
            <p>
                Find the products you love <br/>
                Shop for original and quality products from our store with amazing discounts!
            </p>
            <p><a href="{% url 'password_change' %}">Change password</a> | <a href="{% url 'edit' %}">Edit account</a></p>
<!--            <button>Send a Message</button>-->
        </div>

    </div>
{% endblock %}

{% block content %}

{% endblock %}



