{% extends "website/website_base.html" %}
{% load static %}

{% block title %}Create an account{% endblock %}
{% block style %} 
  <link type="text/css" href="{% static 'styles/auth.css' %}" rel="stylesheet" />
{% endblock %}




{% block content %}
  <div class="auth-form">
    <h1>Create an account</h1>
    <p>Enjoy amazing discounts and coupons when you create an account:</p>
    <form method="post">
      <div class="long-form">
          {{ user_form.as_p }}
      </div>
      {% csrf_token %}
      <p><input type="submit" value="Create my account"></p>
      <p>If you already have an account <a href="{% url 'login' %}">Login here</a></p>
    </form>
  </div>

{% endblock %}

