{% extends "administration/admin_base.html" %}
{% load static %}
{% block title %} Admin: Edit Unit {% endblock %}
{% block styles %}
<link type="text/css" href="{% static 'styles/admin_form.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

  <div class="form-page">
        <div class="form-wrapper">

            <h2>Edit Unit: {{ unit_of_measure.unit }}</h2>

            <form method="post" enctype="multipart/form-data" class="product-form" style="margin-block: 40px;">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.as_p }}
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'administration:category_list' %}">Cancel</a>
            </form>
        
         </div>
    </div>

{% endblock %}